.card-movie-card {
  height: 750px;
  margin-bottom: 30px;
  justify-content: 'space-between';
  align-content: center;
}

.card-title {
  font-weight: 700 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: 400 !important;
}
