$color1: #4b8f8c;
$color2: #e7745f;
$color3: #fde635;

$font-family-primary: 'Poppins', sans-serif;

body {
 
  padding-top: 6rem;
  font-family: $font-family-primary !important;
  font-weight: 400 !important;
  color: #555555 !important;
  box-sizing: border-box;
}

.btn-primary {
  color: white !important;
  background-color: $color2 !important;
  border-color: $color2 !important;
}


